{% extends 'base.html' %}
{% block title %}Parolni o'zgartirish{% endblock title %}

{% block content %}

    <div class="list-group marginuz">
        <div class="list-group-item bg-detail text-dark">

            {% if form.errors %}
                <div class="alert alert-danger mt-3">
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="post">{% csrf_token %}

                <label class="form-label" for="id_old_password">Eski parolingiz</label>
                <input class="form-control inputuz" type="password" name="old_password" autocomplete="current-password"
                       autofocus required
                       id="id_old_password">
                <br>
                <label class="form-label" for="id_new_password1">Yangi parol</label>
                <input class="form-control inputuz" type="password" name="new_password1" autocomplete="new-password"
                       required
                       id="id_new_password1">
                <br>
                <label class="form-label" for="id_new_password2">Yangi parolni qaytadan yozing</label>
                <input class="form-control inputuz" type="password" name="new_password2" autocomplete="new-password"
                       required
                       id="id_new_password2">
                <br>
                <button class="btn btn-primary" type="submit">Yangilash</button>
            </form>
        </div>
    </div>
{% endblock content %}